<p>
  <strong>
    Olá, {{ student.name }}!
  </strong>
  <br />

  Você foi matriculado em nosso sistema. Seguem abaixo os dados da sua matrícula:
  <br />
  <br />
  <strong>Data da Matrícula: </strong> {{ registration.created_at}},
  <strong>Plano: </strong> {{ registration.plan.name }} ({{ registration.plan.duration }} Meses),
  <strong>Preço Total: </strong> R$ {{ registration.price }},
  <strong>Vigência da Matrícula: De {{ start_date }} até {{ end_date }}
</p>
