<p>
  <strong>
    Olá, {{ student.name }}!
  </strong>
  <br />

  Sua matrícula foi atualizada em nosso sistema.
  Seguem abaixo os novos dados:
  <br />
  <br />

  <strong>Data da Matrícula</strong>: {{ created_at }},
  <br />

  <strong>Data da Atualização</strong>: {{ updated_at }},
  <br />

  <strong>Plano</strong>: {{ registration.plan.title }} ({{ registration.plan.duration }} Meses),
  <br />

  <strong>Preço Total</strong>: {{formatNumber registration.price style="currency" currency="BRL"}},
  <br />

  <strong>Vigência da Matrícula</strong>: De {{ start_date }} até {{ end_date }}
  <br />
</p>
